@font-face {
  font-family: "Avenir Next Extra Bold";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
body {
  overflow-x: hidden;
}

.container {
  max-width: 67rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #323232;
  margin-top: 36px;
  opacity: 1;
}
.footer__heading {
  display: flex;
  flex-direction: row;
  font-family: "Avenir Next Bold";
  color: #ffffff;
}
.footer__images {
  display: flex;
  flex-direction: row;
}
.footer__images__box {
  display: flex;
}
.footer__images__box__icons {
  display: flex;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__container__division {
  display: flex;
  flex-direction: column;
}
.footer__container__division__info {
  display: flex;
  flex-direction: column;
}
.footer__container__division__info__agent {
  display: flex;
  font-family: "Avenir Next Bold";
  color: #ffffff;
}
.footer__container__division__contact {
  display: flex;
  flex-direction: column;
  padding-top: 0.9375rem;
  width: 70%;
}
.footer__container__division__contact__address {
  font-family: "Avenir Next";
  padding-top: 0.9375rem;
  color: #ffffff;
}
.footer__icon {
  display: flex;
}
.footer__icon__logo {
  height: 1.25rem;
  width: 7.5rem;
}
.footer .footer__rights {
  color: #ffffff;
  font-family: "Avenir Next";
}

@media (max-width: 320px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__heading {
    font-size: 2.375rem;
    line-height: 32px;
    padding: 16px 16px 24px 24px;
  }
  .footer__images {
    justify-content: flex-start;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: 1.5rem;
    height: 1.875rem;
  }
  .footer__container {
    flex-direction: column;
    padding-left: 24px;
  }
  .footer__container__division__info {
    padding-top: 24px;
  }
  .footer__icon {
    padding: 48px 0 16px 24px;
    width: 100%;
  }
  .footer__rights {
    margin-left: 0;
    padding-left: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .footer__heading {
    font-size: 2.375rem;
    line-height: 32px;
    padding: 16px 16px 24px 24px;
  }
  .footer__images {
    justify-content: flex-start;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: 1.5rem;
    height: 1.875rem;
  }
  .footer__container {
    flex-direction: column;
    padding-left: 24px;
  }
  .footer__container__division__info {
    padding-top: 24px;
  }
  .footer__icon {
    padding: 48px 0 16px 24px;
    width: 100%;
  }
  .footer__rights {
    margin-left: 0;
    padding-left: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__heading {
    padding: 48px 7.5rem 1.875rem 0rem;
    font-size: 36px;
  }
  .footer__images {
    justify-content: center;
    position: relative;
    width: 100%;
    top: -4.5rem;
    left: -1.5625rem;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: 36px;
    height: 1.875rem;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }
  .footer__container__division__info {
    font-size: 14px;
  }
  .footer__container__division__info__agent {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__container__division__contact__address {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__rights {
    padding: 25px 36px 36px 0px;
    font-size: 14px;
    line-height: 20px;
  }
  .footer__icon {
    flex-direction: row-reverse;
    position: relative;
    top: -241px;
    right: 100px;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .footer__heading {
    font-size: 36px;
    padding: 48px;
  }
  .footer__images {
    justify-content: center;
    position: relative;
    top: -84px;
    right: 220px;
  }
  .footer__images__box__icons {
    width: 30px;
    padding-left: 36px;
    height: 1.875rem;
  }
  .footer__container {
    margin-right: 36px;
    display: flex;
    flex-direction: row;
    padding-left: 48px;
    width: 60%;
  }
  .footer__rights {
    padding: 25px 36px 36px 48px;
  }
  .footer__icon {
    flex-direction: row-reverse;
    position: relative;
    top: -267px;
    right: 150px;
  }
}
.nav {
  background-color: #323232;
  display: flex;
}
.nav__container {
  padding: 48px 36px 36px 5.625rem;
  display: flex;
}
.nav__container__logo {
  height: 1.25rem;
  width: 7.5rem;
  display: flex;
}
.nav__pack {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .nav__pack {
    justify-content: space-around;
  }
}
.nav__pack__subheader {
  font-family: "Avenir Next";
  color: #afafaf;
  margin-right: 2.25rem;
  text-align: center;
  padding: 2.875rem 0;
}
@media (max-width: 1279px) {
  .nav__pack__subheader {
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
    flex-direction: column;
    padding: 2.625rem 0rem 2.75rem 0rem;
  }
}
@media (max-width: 767px) {
  .nav__pack__subheader {
    width: 50%;
    padding-bottom: 1rem;
    padding-top: 0rem;
    margin-right: 0rem;
  }
}
.nav__pack__subheader:hover {
  border-bottom: 0.1875rem solid #ffffff;
  color: #ffffff;
  font-family: "Avenir Next Extra Bold";
  font-size: 14px;
}
.nav__pack__subheader__item {
  color: #e1e1e1;
  font-family: "Avenir Next";
}
@media (max-width: 767px) {
  .nav__pack__subheader__item {
    font-size: 1.125rem;
    padding: 0rem;
  }
}
.nav__pack__subheader__item:hover {
  font-family: "Avenir Next Extra Bold";
  color: #ffffff;
}

.hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/Images/hero-bio.jpg");
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
}
@media (max-width: 767px) {
  .hero {
    height: 40vh;
    padding: 0;
  }
}
.hero__title .title__heading {
  font-family: "Avenir Next Bold";
  line-height: 68px;
  color: #ffffff;
}
@media (max-width: 767px) {
  .hero__title .title__heading {
    font-size: 1.5rem;
  }
}

.main__head {
  font-family: "Avenir Next Bold";
}
.main__picture {
  margin: 0 auto;
  display: block;
  height: 28.375rem;
}
.main__sub {
  font-family: "Avenir Next Bold";
}
.main__sub-paragraph {
  font-family: "Avenir Next Bold";
}
.main__subheading {
  font-family: "Avenir Next Bold";
}
.main__paragraph {
  font-family: "Avenir Next";
}

.gallery {
  background-color: #fafafa;
}
.gallery__container {
  font-size: 36px;
  line-height: 44px;
  font-family: "Avenir Next Bold";
  display: grid;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  padding: 1.5rem 0rem;
}
.gallery__image-wraper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  row-gap: 1.5rem;
}
.gallery__image-wraper img {
  position: relative;
  width: 100%;
}

.testimony__title {
  font-family: "Avenir Next";
}

.testimony__title__heading {
  color: #323232;
  font-size: 24px;
  font-family: "Avenir Next Bold";
}

.div {
  display: flex;
}

.div__form__button {
  font-family: "Avenir Next Bold";
  font-size: 20px;
  color: #ffffff;
  background-color: #323232;
  border: 1px solid #323232;
  border-radius: 4px;
  width: 80%;
  height: 45px;
}

.form__name {
  font-family: "Avenir Next";
  color: #afafaf;
  font-size: 14px;
}

.form__name__container {
  display: flex;
}

.form__name__container__img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cont__input__name {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 36px;
  padding-top: 4px;
  background-color: #fafafa;
}

.cont__form__comment {
  font-family: "Avenir Next";
  color: #afafaf;
  font-size: 14px;
}

.cont__input__comment {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  height: 36px;
  padding-top: 4px;
  background-color: #fafafa;
}

.fans {
  font-size: 14px;
  font-family: "Avenir Next Bold";
  color: #323232;
}

.date {
  font-size: 14px;
  font-family: "Avenir Next";
  color: #afafaf;
}

.testimony__comments {
  padding: 24px 16px 0px 16px;
}

.testimony__article {
  font-size: 14px;
  font-family: "Avenir Next";
  color: #323232;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 16px;
}

@media (max-width: 767px) {
  .main__head {
    padding: 2.125rem 1rem 1.5rem 0rem;
    font-size: 1.5rem;
    line-height: 32px;
  }
  .main__picture {
    width: 100%;
    max-width: 31.25rem;
    height: auto;
  }
  .main__sub {
    line-height: 32px;
    font-weight: 400;
    font-size: 1.125;
    margin: 0 auto;
    padding-top: 24px;
  }
  .main__sub-paragraph {
    font-size: 1.125rem;
    line-height: 32px;
  }
  .main__subheading {
    font-size: 1.125rem;
    line-height: 32px;
    padding: 24px 16px 0rem 0rem;
  }
  .main__paragraph {
    padding: 24px 0rem;
    -moz-column-count: 1;
         column-count: 1;
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: 400;
    font-family: "Avenir Next";
  }
  .gallery__image-wraper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }
  .testimony__title {
    padding: 24px 16px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__container {
    padding: 48px 36px;
  }
  .main__head {
    padding: 48px 36px 36px 36px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
  }
  .main__picture {
    width: 75%;
    height: 22.375rem;
  }
  .main__sub {
    font-size: 24px;
    line-height: 32px;
    padding: 36px 36px 36px 36px;
    width: 75%;
    margin: 0 auto;
  }
  .main__sub-paragraph {
    font-size: 14px;
    line-height: 22px;
    margin: 0 6.875rem;
    padding: 0 36px;
  }
  .main__subheading {
    font-size: 24px;
    line-height: 32px;
    padding: 36px 36px;
    margin: 0 6.875rem;
  }
  .main__paragraph {
    -moz-column-count: 2;
         column-count: 2;
    line-height: 32px;
    font-weight: 400;
    font-family: "Avenir Next";
    font-size: 1.375rem;
    max-width: 59.375rem;
    margin: 0 auto;
    padding: 36px;
  }
}
.hero__title {
  padding: 48px 36px;
  position: absolute;
  top: 15.625rem;
  left: 5rem;
}
@media (max-width: 1279px) {
  .hero__title {
    font-size: 36px;
    left: 0rem;
  }
}
@media (max-width: 767px) {
  .hero__title {
    padding: 36px 16px;
    top: 6.25rem;
  }
}

.content_wrapper {
  padding: 0 1rem;
}

@media (max-width: 767px) {
  .nav {
    display: block;
  }
  .nav__container {
    padding: 1.5rem;
    justify-content: center;
  }
  .nav__container__logo {
    padding: 24px 16px 16px 16px;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .title__heading {
    font-size: 60px;
  }
  .main__head {
    padding: 48px 36px 36px 36px;
    font-size: 36px;
    line-height: 44px;
  }
  .main__picture {
    width: 60%;
    height: 28.5rem;
  }
  .main__sub {
    font-size: 24px;
    line-height: 32px;
    padding: 36px 36px 0 36px;
    width: 60%;
    margin: 0 auto;
  }
  .main__sub-paragraph {
    font-size: 14px;
    line-height: 22px;
    padding: 36px 15.625rem;
  }
  .main__subheading {
    font-size: 24px;
    line-height: 32px;
    padding: 48px 36px 0 10rem;
  }
  .main__paragraph {
    -moz-column-count: 2;
         column-count: 2;
    font-size: 1rem;
    line-height: 22px;
    font-weight: 400;
    font-family: "Avenir Next";
    font-size: 14px;
    max-width: 60rem;
    margin: 0 auto;
    padding: 36px;
  }
  .testimony__title {
    padding: 48px 36px 36px 60px;
  }
  .testimony__title__heading {
    padding: 48px 36px;
    font-size: 36px;
  }
  .form__name {
    width: 50%;
    margin: 0 auto;
  }
  .form__name__container__img {
    width: 60px;
    height: 60px;
  }
  .cont {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 90px;
  }
  .input__name {
    width: 40%;
    height: 50px;
  }
  .input__comment {
    width: 40%;
    height: 120px;
  }
  .div {
    justify-content: flex-end;
    padding: 36px;
  }
  .div__form__button {
    width: 30%;
    height: 50px;
  }
  #comments {
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .fans {
    display: flex;
    font-size: 18px;
  }
  .date {
    display: flex;
    font-size: 18px;
  }
  .testimony__article {
    font-size: 18px;
    display: flex;
  }
  .testimony__comments {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=bio.css.map */