@use "partials/global" as *;

.nav {
  background-color: $bandsite-black;
  display: flex;
  @media (max-width: $mobile-screen-max-size) {
    // display: block;
  }
  &__container {
    padding: $headline-padding-before-desktop
      $headline-padding-between-components-desktop
      $headline-padding-after-desktop 5.625rem;
    display: flex;
    @media (max-width: $tablet-screen-max-size) {
      // padding: $headline-padding-before-desktop $headline-padding-after-desktop;
    }
    @media (max-width: $mobile-screen-max-size) {
      // padding: 1.5rem;
      // justify-content: center;
    }
    &__logo {
      @include logo-style;
      display: flex;
      @media (max-width: $mobile-screen-max-size) {
        // padding: $headline-padding-before-mobile
        //   $headline-padding-between-components-mobile
        //   $headline-padding-after-mobile
        //   $headline-padding-between-components-mobile;
      }
    }
  }

  &__pack {
    display: flex;
    align-items: center;
    @media (max-width: $mobile-screen-max-size) {
      justify-content: space-around;
    }
    &__subheader {
      font-family: $primary-normal;
      color: $silver;
      margin-right: 2.25rem;
      text-align: center;
      padding: 2.875rem 0;
      @media (max-width: $tablet-screen-max-size) {
        font-size: $body-text-size-desktop;
        font-weight: $subheader-text-weight-desktop;
        line-height: $subheader-line-height-desktop;
        flex-direction: column;
        padding: 2.625rem 0rem 2.75rem 0rem;
      }
      @media (max-width: $mobile-screen-max-size) {
        width: 50%;
        padding-bottom: 1rem;
        padding-top: 0rem;
        margin-right: 0rem;
      }
      &:hover {
        border-bottom: 0.1875rem solid $white;
        color: $white;
        font-family: $primary-extra-bold;
        font-size: $body-text-size-desktop;
      }
      &__item {
        color: $mercury;
        font-family: $primary-normal;
        @media (max-width: $mobile-screen-max-size) {
          font-size: 1.125rem;
          padding: 0rem;
        }
        &:hover {
          font-family: $primary-extra-bold;
          color: $white;
        }
      }
    }
  }
}

.hero {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../Assets/Images/hero-bio.jpg");
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  @media (max-width: $mobile-screen-max-size) {
    height: 40vh;
    padding: 0;
  }

  &__title {
    .title__heading {
      font-family: $primary-bold;
      line-height: $page-line-height-desktop;
      color: $white;
      @media (max-width: $mobile-screen-max-size) {
        font-size: 1.5rem;
      }
    }
  }
}

.main {
  &__head {
    font-family: $primary-bold;
  }
  &__picture {
    margin: 0 auto;
    display: block;
    height: 28.375rem;
  }
  &__sub {
    font-family: $primary-bold;
  }
  &__sub-paragraph {
    font-family: $primary-bold;
  }
  &__subheading {
    font-family: $primary-bold;
  }

  &__paragraph {
    font-family: $primary-normal;
  }
}

.gallery {
  background-color: $alabaster;
  &__container {
    font-size: $section-header-text-size-desktop;
    line-height: $section-line-height-desktop;
    font-family: $primary-bold;
    display: grid;
    column-gap: 1.5rem;
    padding: 1.5rem 0rem;
  }
  &__image-wraper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    img {
      position: relative;
      width: 100%;
    }
  }
}

.testimony__title {
  font-family: $primary-normal;
}
.testimony__title__heading {
  color: $bandsite-black;
  font-size: $section-header-text-size-mobile;
  font-family: $primary-bold;
}

.div {
  display: flex;
}
.div__form__button {
  width: 80%;
  height: 45px;
  font-family: $primary-bold;
  font-size: 20px;
  color: $white;
  background-color: $bandsite-black;
  border: 1px solid $bandsite-black;
  border-radius: 4px;
}
.form__name {
  font-family: $primary-normal;
  color: $silver;
  font-size: $body-text-size-desktop;
}
.form__name__container {
  display: flex;
}
.form__name__container__img {
  border-radius: 50%;
  object-fit: cover;
}
.cont {
  display: flex;
  flex-direction: column;
  // width: 40%;
  margin: 0 auto;
}
.cont__input__name {
  border: 1px solid $mercury;
  border-radius: 4px;
  height: 36px;
  padding-top: 4px;
  background-color: $alabaster;
}

.cont__input__name:active {
  border-color: $bandsite-darkblack;
}
.cont__form__comment {
  font-family: $primary-normal;
  color: $silver;
  font-size: $body-text-size-desktop;
}
.cont__input__comment {
  border: 1px solid $mercury;
  border-radius: 4px;
  height: 36px;
  padding-top: 4px;
  background-color: $alabaster;
  color: $bandsite-black;
}
.fans {
  font-size: $body-text-size-desktop;
  font-family: $primary-bold;
  color: $bandsite-black;
}
.date {
  font-size: $body-text-size-desktop;
  font-family: $primary-normal;
  color: $silver;
}
.testimony__comments {
  padding: 24px 16px 0px 16px;
}
.testimony__article {
  font-size: $body-text-size-desktop;
  font-family: $primary-normal;
  color: $bandsite-black;
  border-bottom: 1px solid $mercury;
  padding-bottom: 16px;
}

@media (max-width: 767px) {
  .main__head {
    padding: 2.125rem 1rem 1.5rem 0rem;
    font-size: 1.5rem;
    line-height: $section-line-height-mobile;
  }
  .main__picture {
    width: 100%;
    max-width: 31.25rem;
    height: auto;
  }
  .main__sub {
    line-height: $section-line-height-mobile;
    font-weight: $body-text-weight-mobile;
    font-size: 1.125;
    margin: 0 auto;
    padding-top: $headline-padding-before-mobile;
  }
  .main__sub-paragraph {
    font-size: 1.125rem;
    line-height: $subheader-line-height-desktop;
  }
  .main__subheading {
    font-size: 1.125rem;
    line-height: $subheader-line-height-desktop;
    padding: $headline-padding-before-mobile $headline-padding-after-mobile 0rem
      0rem;
  }
  .main__paragraph {
    padding: $headline-padding-before-mobile 0rem;
    column-count: 1;
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: $body-text-weight-mobile;
    font-family: $primary-normal;
  }
  .gallery__image-wraper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: $headline-padding-before-mobile;
  }
  .testimony__title {
    padding: 24px 16px;
  }
  .form__name__container__img {
    width: 50px;
    height: 50px;
  }
  label {
    padding-bottom: 5px;
  }
  .cont__input__name {
    padding-top: 4px;
    padding-left: 10px;
    margin-bottom: 24px;
    font-family: $primary-normal;
  }
  .cont__input__comment {
    padding: 4px 0px 50px 10px;
    margin-bottom: 24px;
    font-family: $primary-normal;
  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}

@media (min-width: $tablet-screen-min-size) and (max-width: $tablet-screen-max-size) {
  .nav__container {
    padding: $headline-padding-before-desktop $headline-padding-after-desktop;
  }

  .main__head {
    padding: $headline-padding-before-desktop
      $headline-padding-between-components-desktop
      $headline-padding-after-desktop
      $headline-padding-between-components-desktop;
    font-size: $section-header-text-size-desktop;
    line-height: $section-line-height-desktop;
    font-weight: $section-text-weight-desktop;
  }
  .main__picture {
    width: 75%;
    height: 22.375rem;
  }
  .main__sub {
    font-size: $subheader-text-size-desktop;
    line-height: $subheader-line-height-desktop;
    padding: $headline-padding-after-desktop $headline-padding-after-desktop
      $headline-padding-after-desktop $headline-padding-after-desktop;
    width: 75%;
    margin: 0 auto;
  }
  .main__sub-paragraph {
    font-size: $body-text-size-desktop;
    line-height: $body-line-height-desktop;
    margin: 0 6.875rem;
    padding: 0 $headline-padding-after-desktop;
  }
  .main__subheading {
    font-size: $subheader-text-size-desktop;
    line-height: $subheader-line-height-desktop;
    padding: $headline-padding-after-desktop $headline-padding-after-desktop;
    margin: 0 6.875rem;
  }
  .main__paragraph {
    column-count: 2;
    line-height: $subheader-line-height-desktop;
    font-weight: $body-text-weight-desktop;
    font-family: $primary-normal;
    font-size: 1.375rem;
    max-width: 59.375rem;
    margin: 0 auto;
    padding: $headline-padding-after-desktop;
  }
}

.hero__title {
  padding: $headline-padding-before-desktop $headline-padding-after-desktop;
  position: absolute;
  top: 15.625rem;
  left: 5rem;
  @media (max-width: $tablet-screen-max-size) {
    font-size: $section-header-text-size-desktop;
    left: 0rem;
  }
  @media (max-width: $mobile-screen-max-size) {
    padding: $headline-padding-after-desktop $headline-padding-after-mobile;
    top: 6.25rem;
  }
}

.content_wrapper {
  padding: 0 1rem;
}

//TMOBILE
@media (max-width: $mobile-screen-max-size) {
  .nav {
    display: block;
  }
  .nav__container {
    padding: 1.5rem;
    justify-content: center;
  }
  .nav__container__logo {
    padding: $headline-padding-before-mobile
      $headline-padding-between-components-mobile $headline-padding-after-mobile
      $headline-padding-between-components-mobile;
  }
}

@media (min-width: $tablet-screen-min-size) and (max-width: $tablet-screen-max-size) {
  .form__name {
    width: 70%;
    margin: 0 auto;
  }
  .form__name__container__img {
    position: absolute;
    width: 60px;
    height: 60px;
  }
  label {
    padding: 20px 0px 5px 0px;
  }
  .cont__input__name {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
  }
  .cont__input__comment {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 60px;
    padding-left: 15px;
  }
  .div {
    justify-content: flex-end;
    padding: 36px 0px;
  }
  .div__form__button {
  width: 36%;
  height: 49px;
  }
  .testimony__title {
    padding: 48px 36px 24px 60px;
  }
  .testimony__title__heading {
    font-size: 50px;
  }
  #comments {
    overflow-wrap: anywhere;
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .fans {
    display: flex;
    font-size: 18px;
  }
  .date {
    display: flex;
    font-size: 18px;
  }
  .testimony__article {
    font-size: 16px;
    display: flex;
  }
  .testimony__comments {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-screen-min-size) and (max-width: $desktop-screen-max-size) {
  .title__heading {
    font-size: $page-header-text-size-desktop;
  }

  .main__head {
    padding: $headline-padding-before-desktop
      $headline-padding-between-components-desktop
      $headline-padding-after-desktop
      $headline-padding-between-components-desktop;
    font-size: $section-header-text-size-desktop;
    line-height: $section-line-height-desktop;
  }
  .main__picture {
    width: 60%;
    height: 28.5rem;
  }
  .main__sub {
    font-size: $subheader-text-size-desktop;
    line-height: $subheader-line-height-desktop;
    padding: $headline-padding-after-desktop $headline-padding-after-desktop 0
      $headline-padding-after-desktop;
    width: 60%;
    margin: 0 auto;
  }
  .main__sub-paragraph {
    font-size: $body-text-size-desktop;
    line-height: $body-line-height-desktop;
    padding: $headline-padding-after-desktop 15.625rem;
  }
  .main__subheading {
    font-size: $subheader-text-size-desktop;
    line-height: $subheader-line-height-desktop;
    padding: $headline-padding-before-desktop $headline-padding-after-desktop 0
      10rem;
  }
  .main__paragraph {
    column-count: 2;
    font-size: 1rem;
    line-height: $body-line-height-desktop;
    font-weight: $body-text-weight-desktop;
    font-family: $primary-normal;
    font-size: $body-text-size-desktop;
    max-width: 60rem;
    margin: 0 auto;
    padding: $headline-padding-after-desktop;
  }
  .testimony__title {
    padding: 48px 36px 36px 60px;
  }
  .testimony__title__heading {
    padding: 48px 36px;
    font-size: $section-header-text-size-desktop;
  }

  .form__name {
    width: 50%;
    margin: 0 auto;
  }
  .form__name__container__img {
    position: absolute;
    width: 60px;
    height: 60px;
  }
  .cont {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 90px;
  }
  label {
    padding: 20px 0px 5px 0px;
  }
  .cont__input__name {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
  }
  .cont__input__comment {
    width: 100%;
    padding-top: 4px;
    padding-bottom: 55px;
    padding-left: 15px;
  }
  .div {
    justify-content: flex-end;
    padding: 36px 0px;
  }
  .div__form__button {
    width: 30%;
    height: 50px;
  }
  #comments {
    overflow-wrap: anywhere;
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }
  .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .fans {
    display: flex;
    font-size: 18px;
  }
  .date {
    display: flex;
    font-size: 18px;
  }
  .testimony__article {
    font-size: 18px;
    display: flex;
  }
  .testimony__comments {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
