@font-face {
  font-family: "Avenir Next Extra Bold";
  src: url("../Assets/Font/Alternative files/AvenirNextLTProBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
body {
  overflow-x: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #323232;
}
.footer__heading {
  display: flex;
  flex-direction: row;
  font-family: "Avenir Next Extra Bold";
  color: #ffffff;
  opacity: 1;
}
@media (min-width: 768px) {
  .footer__heading {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 767px) {
  .footer__heading {
    font-size: 24px;
    line-height: 32px;
  }
}
.footer__images {
  display: flex;
  flex-direction: row;
}
.footer__images__icons {
  width: 30px;
  display: flex;
}
.footer__info {
  display: flex;
}
.footer__info .info__agent {
  font-family: "Avenir Next Bold";
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
.footer__contact {
  display: flex;
}
.footer__contact .contact__address {
  font-family: "Avenir Next";
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.footer__rights {
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.footer__logo {
  height: 20px;
  width: 120px;
}

.nav {
  background-color: #323232;
  display: flex;
}
.nav__header {
  font-family: "Avenir Next Extra Bold";
  font-size: 60px;
  line-height: 68px;
  color: #ffffff;
  padding: 36px 48px;
}
.nav__list {
  font-family: "Avenir Next Bold";
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 48px 36px;
}
.nav__list__list__item {
  font-family: "Avenir Next Bold";
  font-size: 36px;
  line-height: 44px;
  padding: 48px 36px 36px 36px;
  display: flex;
  justify-content: space-between;
}

.hero {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Assets/Images/hero-bio.jpg");
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  /*.hero::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  } */
}
.hero__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero__title .title__heading {
  font-family: "Avenir Next Extra Bold";
  font-size: 60px;
  line-height: 68px;
  color: #ffffff;
  padding: 48px 36px 36px 36px;
}

.main__head {
  font-size: 36px;
  line-height: 44px;
  font-family: "Avenir Next Extra Bold";
  padding: 48px 0 36px 36px;
}
.main__picture {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.main__sub {
  font-size: 24px;
  line-height: 32px;
  padding: 36px 36px 36px 36px;
}
.main__sub .sub__paragraph {
  font-family: "Avenir Next Extra Bold";
  font-size: 24px;
}
.main__subheading {
  font-family: "Avenir Next Bold";
  font-size: 24px;
  line-height: 32px;
}
.main__paragraph {
  font-size: 14px;
  line-height: 22px;
  -moz-column-count: 2;
       column-count: 2;
  width: 70%;
}
.main__gallery {
  font-size: 36px;
  line-height: 44px;
  font-family: "Avenir Next Extra Bold";
  display: grid;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding: 48px 0 36px 36px;
}
.main__image-wraper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 24px;
}
.main__image-wraper img {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 760px) {
  .main__image-wraper {
    grid-template-columns: 50% 50%;
  }
}/*# sourceMappingURL=landing.css.map */