@use "partials/global" as *;

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.nav {
  background-color: $bandsite-black;
}
.album {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../Assets/Images/hero-shows.jpg);
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &__title {
    padding: 24px 16px;

    &__paragraph {
      color: $white;
    }
  }
  &__subtitle {
    width: 70%;
    &__paragraph {
      font-family: $primary-normal;
      color: $white;
    }
  }
  iframe {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.shows {
  background-color: $white;
  &__heading {
    &__title {
      font-family: $primary-bold;
      color: $bandsite-black;
    }
  }
  &__container {
    &__info {
      &:hover {
        background-color: $alabaster;
      }
      &__head {
        font-family: $primary-normal;
        color: $silver;
      }
      &__date {
        font-family: $primary-bold;
        color: $bandsite-darkblack;
      }
      &__place {
        font-family: $primary-normal;
        color: $bandsite-darkblack;
      }
      &__town {
        font-family: $primary-normal;
        color: $bandsite-darkblack;
      }
      button {
        background-color: $bandsite-black;
        color: $white;
        border-radius: 4px;
        border: 1px solid $bandsite-black;
        font-family: $primary-normal;
      }
    }
  }
}

@media (min-width: 321px) and (max-width: $mobile-screen-max-size) {
  .album__title {
    padding: 24px 16px;
  }
  .album__title__paragraph {
    padding: 24px 16px;
    font-size: $subheader-text-size-mobile;
    font-family: $primary-normal;
  }
  .album__subtitle {
    padding: 24px 16px;
    width: 70%;
  }
  .album__subtitle__paragraph {
    font-size: $section-header-text-size-mobile;
  }
  iframe {
    width: 90%;
  }
  .shows__heading {
    padding: 24px 16px;
  }
  .shows__heading__title {
    font-size: $section-header-text-size-mobile;
  }
  .shows__container__info {
    padding: 24px 16px 16px 16px;
  }
  .shows__container__info__head {
    font-size: $body-text-size-mobile;
    line-height: $body-line-height-mobile;
  }
  .shows__container__info__date {
    line-height: $body-line-height-mobile;
    font-size: $body-text-size-mobile;
  }
  .shows__container__info__place {
    line-height: $body-line-height-mobile;
    font-size: $body-text-size-mobile;
  }
  .shows__container__info__town {
    line-height: $body-line-height-mobile;
    padding-bottom: 16px;
    font-size: $body-text-size-mobile;
  }
  button {
    line-height: $body-line-height-mobile;
    font-size: $subheader-text-size-mobile;
    width: 100%;
    height: 40px;
  }
}
@media (min-width: $tablet-screen-min-size) and (max-width: $tablet-screen-max-size) {
  .album__title {
    padding: 48px 36px;
  }
  .album__title__paragraph {
    font-size: $subheader-text-size-desktop;
    font-family: $primary-bold;
  }
  .album__subtitle {
    padding: 0px 36px;
    font-size: $section-header-text-size-desktop;
  }
  iframe {
    margin: 48px 36px;
  }
  .shows__heading {
    padding: 48px 36px;
  }
  .shows__heading__title {
    font-size: $page-header-text-size-desktop;
    color: $bandsite-darkblack;
  }
  .shows__container__info {
    border-bottom: 1px solid $silver;
    padding-bottom: 16px;
    padding-left: 36px;
  }
  .shows__container__info__head {
    font-size: 16px;
    line-height: $body-line-height-desktop;
  }
  .shows__container__info__date {
    font-size: 16px;
    line-height: $body-line-height-desktop;
  }
  .shows__container__info__place {
    font-size: 16px;
    line-height: $body-line-height-desktop;
  }
  .shows__container__info__town {
    font-size: 16px;
    line-height: $body-line-height-desktop;
  }
  button {
    line-height: $body-line-height-desktop;
    font-size: 18px;
    width: 25%;
    height: 50px;
  }
}
