@use "partials/global" as *;

@mixin background-image-style {
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
@mixin button-basic-style {
  background-color: $bandsite-black;
  color: $white;
  border-radius: 0.25rem;
  border: 0.0625rem solid $bandsite-black;
  font-family: $primary-normal;
}

@mixin body-text-mobile {
  line-height: $body-line-height-mobile;
  font-size: $body-text-size-mobile;
}

@mixin body-text-tablet {
  font-size: 1rem;
  line-height: $body-line-height-desktop;
}

@mixin shows-container-flexbox-style {
  padding: 2.25rem;
  border-bottom: 0.125rem solid $alabaster;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.album {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../Assets/Images/hero-shows.jpg);
  @include background-image-style;

  &__title {
    padding: 24px 16px;

    &__paragraph {
      color: $white;
    }
  }
  &__subtitle {
    width: 70%;
    &__paragraph {
      font-family: $primary-normal;
      color: $white;
    }
  }
  &__song {
    display: flex;
    width: 30%;
  }
}
.shows {
  background-color: $white;
  &__heading {
    &__title {
      font-family: $primary-bold;
      color: $bandsite-black;
    }
  }
  &__container {
    cursor: pointer;
    &__info {
      &:hover {
        background-color: $alabaster;
      }
      &--selected {
        background-color: $mercury;
      }
      &__head {
        font-family: $primary-normal;
        color: $silver;
      }
      &__date {
        font-family: $primary-bold;
        color: $bandsite-darkblack;
      }
      &__place {
        font-family: $primary-normal;
        color: $bandsite-darkblack;
      }
      &__town {
        font-family: $primary-normal;
        color: $bandsite-darkblack;
      }
      button {
        @include button-basic-style;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: $mobile-screen-max-size) {
  .album__title {
    padding: $headline-padding-before-mobile $headline-padding-after-mobile;
  }
  .album__title__paragraph {
    // padding: $headline-padding-before-mobile $headline-padding-after-mobile;
    font-size: $subheader-text-size-mobile;
    font-family: $primary-normal;
  }
  .album__pack {
    flex-direction: column;
    display: flex;
  }
  .album__pack__subtitle {
    font-family: $primary-normal;
    padding: 0rem $headline-padding-after-mobile;
    width: 70%;
  }
  .album__pack__subtitle__paragraph {
    color: $white;
    font-size: $section-header-text-size-mobile;
  }
  iframe {
    padding: 0.625rem 0.625rem 2.25rem 0.625rem;
    height: 7.375rem;
    width: 309%;
  }
  .shows__heading {
    padding: $headline-padding-before-mobile $headline-padding-after-mobile 0px
      $headline-padding-after-mobile;
  }
  .shows__heading__title {
    font-size: $section-header-text-size-mobile;
  }
  .shows__container__column {
    display: none;
  }
  .shows__container__info {
    padding: $headline-padding-before-mobile $headline-padding-after-mobile
      $headline-padding-after-mobile $headline-padding-after-mobile;
    border-bottom: 0.0625rem solid $mercury;
  }
  .shows__container__info__head {
    @include body-text-mobile;
  }
  .shows__container__info__date {
    @include body-text-mobile;
  }
  .shows__container__info__place {
    @include body-text-mobile;
  }
  .shows__container__info__town {
    @include body-text-mobile;
    padding-bottom: 1rem;
    width: 9.375rem;
  }
  button {
    @include body-text-mobile;
    width: 100%;
    height: 2.5rem;
  }
}
@media (min-width: $tablet-screen-min-size) and (max-width: $tablet-screen-max-size) {
  .album {
    height: 85vh;
  }
  .album__title {
    padding: $headline-padding-before-desktop $headline-padding-after-desktop;
  }
  .album__title__paragraph {
    padding-top: 1.5rem;
    font-size: $subheader-text-size-desktop;
    font-family: $primary-bold;
  }
  .album__subtitle {
    padding: 0rem $headline-padding-after-desktop;
    font-size: $section-header-text-size-desktop;
  }
  .album__pack__subtitle {
    padding: 0rem $headline-padding-after-desktop;
  }
  .album__pack__subtitle__paragraph {
    font-size: $page-header-text-size-desktop;
    font-family: $primary-normal;
    color: $white;
    width: 76%;
  }
  iframe {
    width: 130%;
    margin: $headline-padding-before-desktop $headline-padding-after-desktop;
  }
  .shows__heading {
    padding: $headline-padding-before-desktop $headline-padding-after-desktop;
  }
  .shows__heading__title {
    font-size: $page-header-text-size-desktop;
    color: $bandsite-darkblack;
  }
  .shows__container__column {
    display: flex;
  }
  .shows__container__column__head {
    font-family: $primary-normal;
    @include body-text-tablet;
  }
  .shows__container__info {
    border-bottom: 0.0625rem solid $silver;
    padding: 0 0 1 rem $headline-padding-after-desktop;
  }
  .shows__container__info__head {
    @include body-text-tablet;
  }
  .shows__container__info__date {
    @include body-text-tablet;
  }
  .shows__container__info__place {
    @include body-text-tablet;
  }
  .shows__container__info__town {
    @include body-text-tablet;
  }
  button {
    line-height: $body-line-height-desktop;
    font-size: 1.125rem;
    width: 25%;
    height: 3.125rem;
  }
  .shows__heading__title {
    font-size: 3rem;
  }
  .shows__container {
    padding-bottom: 3.75rem;
    margin: 2.25rem;
    flex-direction: column;
    display: flex;
    width: 90%;
  }
  .shows__container__column {
    margin-left: -9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .shows__container__column__head {
    color: $mercury;
    font-family: $primary-bold;
    font-size: 1.25rem;
    font-size: 1rem;
    line-height: $body-line-height-desktop;
  }
  .shows__container__info {
    cursor: pointer;
    @include shows-container-flexbox-style;
  }
  .shows__container__info__head {
    display: none;
  }
  button {
    line-height: $body-line-height-mobile;
    font-size: $subheader-text-size-mobile;
    width: 100%;
    height: 2.5rem;
  }
  .button {
    width: 12.5rem;
  }
}

@media (min-width: $desktop-screen-min-size) and (max-width: $desktop-screen-max-size) {
  .album {
    height: 90vh;
  }
  .album__title {
    padding: $headline-padding-before-desktop 9.0625rem;
  }
  .album__title__paragraph {
    padding-top: 6.875rem;
    font-size: 1.75rem;
    font-family: $primary-bold;
  }
  .album__pack {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .album__pack__subtitle {
    font-size: $section-header-text-size-desktop;
    font-family: $primary-bold;
    color: $white;
    padding: 0rem $headline-padding-after-desktop;
    width: 39%;
  }
  .album__pack__subtitle__paragraph {
    font-size: 4rem;
  }
  .shows__heading__title {
    font-size: 3rem;
    padding: 3rem 3.75rem;
  }
  .shows__container {
    padding-bottom: 3.75rem;
    margin: -79px 348px;
    flex-direction: column;
    display: flex;
    width: 70%;
  }
  .shows__container__column {
    left: -183px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .shows__container__column__head {
    color: $mercury;
    font-family: $primary-bold;
    font-size: 1.25rem;
    font-size: 1rem;
    line-height: $body-line-height-desktop;
  }
  .shows__container__info {
    @include shows-container-flexbox-style;
  }
  .shows__container__info__head {
    display: none;
  }
  button {
    line-height: $body-line-height-mobile;
    font-size: $subheader-text-size-mobile;
    width: 100%;
    height: 2.5rem;
  }
  .button {
    width: 12.5rem;
  }
}
