@use "partials/global" as *;

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.nav {
  background-color: $bandsite-black;
  display: flex;
  &__container {
    display: flex;
  }
  &__pack {
    display: flex;
    &__list {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      justify-content: space-between;
      &__item {
        justify-content: space-between;
        display: flex;
        &:hover {
          border-bottom: 0.1875rem solid $white;
          color: $white;
          font-family: $primary-extra-bold;
          font-size: $body-text-size-desktop;
        }
      }
    }
  }
}
.album {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../Assets/Images/hero-shows.jpg);
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &__title {
    padding: 24px 16px;

    &__paragraph {
      color: $white;
    }
  }
  &__subtitle {
    width: 70%;
    &__paragraph {
      font-family: $primary-normal;
      color: $white;
    }
  }
  iframe {
    font-size: 0.625rem;
    color: #cccccc;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
      Garuda, Verdana, Tahoma, sans-serif;
    font-weight: $small;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 18.75rem;
  }
}
.shows {
  background-color: $white;
  &__heading {
    &__title {
      font-family: $primary-bold;
      color: $bandsite-black;
    }
  }
  &__container {
    &__info {
      &:hover {
        background-color: $alabaster;
      }
      &--selected {
        background-color: $mercury;
      }
      &__head {
        font-family: $primary-normal;
        color: $silver;
      }
      &__date {
        font-family: $primary-bold;
        color: $bandsite-darkblack;
      }
      &__place {
        font-family: $primary-normal;
        color: $bandsite-darkblack;
      }
      &__town {
        font-family: $primary-normal;
        color: $bandsite-darkblack;
      }
      button {
        background-color: $bandsite-black;
        color: $white;
        border-radius: 0.25rem;
        border: 0.0625rem solid $bandsite-black;
        font-family: $primary-normal;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: $mobile-screen-max-size) {
  .album__title {
    padding: $headline-padding-before-mobile $headline-padding-after-mobile;
  }
  .album__title__paragraph {
    padding: $headline-padding-before-mobile $headline-padding-after-mobile;
    font-size: $subheader-text-size-mobile;
    font-family: $primary-normal;
  }
  .album__subtitle {
    padding: $headline-padding-before-mobile $headline-padding-after-mobile;
    width: 70%;
  }
  .album__subtitle__paragraph {
    font-size: $section-header-text-size-mobile;
  }
  iframe {
    width: 90%;
  }
  .shows__heading {
    padding: $headline-padding-before-mobile $headline-padding-after-mobile 0px
      $headline-padding-after-mobile;
  }
  .shows__heading__title {
    font-size: $section-header-text-size-mobile;
  }
  .shows__container__info {
    padding: $headline-padding-before-mobile $headline-padding-after-mobile
      $headline-padding-after-mobile $headline-padding-after-mobile;
    border-bottom: 0.0625rem solid $mercury;
  }
  .shows__container__info__head {
    font-size: $body-text-size-mobile;
    line-height: $body-line-height-mobile;
  }
  .shows__container__info__date {
    line-height: $body-line-height-mobile;
    font-size: $body-text-size-mobile;
  }
  .shows__container__info__place {
    line-height: $body-line-height-mobile;
    font-size: $body-text-size-mobile;
  }
  .shows__container__info__town {
    line-height: $body-line-height-mobile;
    padding-bottom: 1rem;
    font-size: $body-text-size-mobile;
    width: 9.375rem;
  }
  button {
    line-height: $body-line-height-mobile;
    font-size: $subheader-text-size-mobile;
    width: 100%;
    height: 2.5rem;
  }
}
@media (min-width: $tablet-screen-min-size) and (max-width: $tablet-screen-max-size) {
  .nav__container {
    padding: $headline-padding-before-desktop
      $headline-padding-between-components-desktop
      $headline-padding-after-desktop $headline-padding-after-desktop;
  }
  .nav__pack {
    flex-direction: row;
    align-items: center;
  }
  .nav__pack__list__item {
    color: $white;
    font-size: 1rem;
    font-family: $primary-normal;
  }
  .album__title {
    padding: $headline-padding-before-desktop $headline-padding-after-desktop;
  }
  .album__title__paragraph {
    font-size: $subheader-text-size-desktop;
    font-family: $primary-bold;
  }
  .album__subtitle {
    padding: 0px $headline-padding-after-desktop;
    font-size: $section-header-text-size-desktop;
  }
  iframe {
    margin: $headline-padding-before-desktop $headline-padding-after-desktop;
  }
  .shows__heading {
    padding: $headline-padding-before-desktop $headline-padding-after-desktop;
  }
  .shows__heading__title {
    font-size: $page-header-text-size-desktop;
    color: $bandsite-darkblack;
  }
  .shows__container__info {
    border-bottom: 1px solid $silver;
    padding: 0 0 1 rem $headline-padding-after-desktop;
  }
  .shows__container__info__head {
    font-size: 1rem;
    line-height: $body-line-height-desktop;
  }
  .shows__container__info__date {
    font-size: 1rem;
    line-height: $body-line-height-desktop;
  }
  .shows__container__info__place {
    font-size: 1rem;
    line-height: $body-line-height-desktop;
  }
  .shows__container__info__town {
    font-size: 1rem;
    line-height: $body-line-height-desktop;
  }
  button {
    line-height: $body-line-height-desktop;
    font-size: 1.125rem;
    width: 25%;
    height: 3.125rem;
  }
}

@media (min-width: $desktop-screen-min-size) and (max-width: $desktop-screen-max-size) {
  .nav__container {
    padding: $headline-padding-before-desktop
      $headline-padding-between-components-desktop
      $headline-padding-after-desktop $headline-padding-after-desktop;
  }
  .shows__container__info {
    border-bottom: 0.0625rem solid $silver;
  }
  button {
    line-height: $body-line-height-mobile;
    font-size: $subheader-text-size-mobile;
    width: 100%;
    height: 2.5rem;
  }
  .button {
    width: 12.5rem;
  }
}
