@font-face {
  font-family: "Avenir Next Extra Bold";
  src: url("../Assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../Assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../Assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
body {
  overflow-x: hidden;
}

.container {
  max-width: 67rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #323232;
  margin-top: 36px;
  opacity: 1;
}
.footer__heading {
  display: flex;
  flex-direction: row;
  font-family: "Avenir Next Bold";
  color: #ffffff;
}
.footer__images {
  display: flex;
  flex-direction: row;
}
.footer__images__box {
  display: flex;
}
.footer__images__box__icons {
  display: flex;
}
.footer__container {
  display: flex;
  flex-direction: column;
}
.footer__container__division {
  display: flex;
  flex-direction: column;
}
.footer__container__division__info {
  display: flex;
  flex-direction: column;
}
.footer__container__division__info__agent {
  display: flex;
  font-family: "Avenir Next Bold";
  color: #ffffff;
}
.footer__container__division__contact {
  display: flex;
  flex-direction: column;
  padding-top: 0.9375rem;
  width: 70%;
}
.footer__container__division__contact__address {
  font-family: "Avenir Next";
  padding-top: 0.9375rem;
  color: #ffffff;
}
.footer__icon {
  display: flex;
}
.footer__icon__logo {
  height: 1.25rem;
  width: 7.5rem;
}
.footer .footer__rights {
  color: #ffffff;
  font-family: "Avenir Next";
}

@media (max-width: 320px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__heading {
    font-size: 1.5rem;
    line-height: 32px;
    padding: 24px 16px 24px 16px;
  }
  .footer__images {
    justify-content: flex-start;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: 1.2rem;
    height: 1.875rem;
  }
  .footer__container {
    flex-direction: column;
    padding-left: 16px;
  }
  .footer__container__division__info {
    padding-top: 24px;
  }
  .footer__icon {
    padding: 48px 0 16px 24px;
    width: 100%;
  }
  .footer__rights {
    margin-left: 0;
    padding-left: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 321px) and (max-width: 767px) {
  .footer__heading {
    font-size: 24px;
    line-height: 32px;
    padding: 24px 16px 24px 24px;
  }
  .footer__images {
    justify-content: flex-start;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: 1.2rem;
    height: 1.875rem;
  }
  .footer__container {
    flex-direction: column;
    padding-left: 16px;
  }
  .footer__container__division__info {
    padding-top: 24px;
  }
  .footer__icon {
    padding: 48px 0 16px 24px;
    width: 100%;
  }
  .footer__rights {
    margin-left: 0;
    padding-left: 24px;
    padding-bottom: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .footer__heading {
    padding: 48px 7.5rem 1.875rem 36px;
    font-size: 36px;
  }
  .footer__images {
    justify-content: center;
    position: relative;
    width: 100%;
    top: -4.5rem;
    left: -1.5625rem;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: 36px;
    height: 1.875rem;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }
  .footer__container__division__info {
    font-size: 14px;
  }
  .footer__container__division__info__agent {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__container__division__contact__address {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__rights {
    padding: 25px 36px 36px 0px;
    font-size: 14px;
    line-height: 20px;
  }
  .footer__icon {
    flex-direction: row-reverse;
    position: relative;
    top: -241px;
    right: 100px;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .footer__heading {
    font-size: 36px;
    padding: 48px;
  }
  .footer__images {
    justify-content: center;
    position: relative;
    top: -5.25rem;
    right: 13.75rem;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: 36px;
    height: 1.875rem;
  }
  .footer__container {
    margin-right: 36px;
    display: flex;
    flex-direction: row;
    padding-left: 48px;
    width: 60%;
  }
  .footer__rights {
    padding: 1.5625rem 36px 36px 48px;
  }
  .footer__icon {
    flex-direction: row-reverse;
    position: relative;
    top: -16.6875rem;
    right: 9.375rem;
  }
}
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav {
  background-color: #323232;
  display: flex;
}
.nav__container {
  display: flex;
}
.nav__pack {
  display: flex;
}
.nav__pack__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  justify-content: space-between;
}
.nav__pack__list__item {
  justify-content: space-between;
  display: flex;
}
.nav__pack__list__item:hover {
  border-bottom: 0.1875rem solid #ffffff;
  color: #ffffff;
  font-family: "Avenir Next Extra Bold";
  font-size: 14px;
}

.album {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Assets/Images/hero-shows.jpg);
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.album__title {
  padding: 24px 16px;
}
.album__title__paragraph {
  color: #ffffff;
}
.album__subtitle {
  width: 70%;
}
.album__subtitle__paragraph {
  font-family: "Avenir Next";
  color: #ffffff;
}
.album__song {
  display: flex;
  width: 30%;
}
.album iframe {
  font-size: 0.625rem;
  color: #cccccc;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 18.75rem;
}

.shows {
  background-color: #ffffff;
}
.shows__heading__title {
  font-family: "Avenir Next Bold";
  color: #323232;
}
.shows__container__info:hover {
  background-color: #fafafa;
}
.shows__container__info--selected {
  background-color: #e1e1e1;
}
.shows__container__info__head {
  font-family: "Avenir Next";
  color: #afafaf;
}
.shows__container__info__date {
  font-family: "Avenir Next Bold";
  color: #000000;
}
.shows__container__info__place {
  font-family: "Avenir Next";
  color: #000000;
}
.shows__container__info__town {
  font-family: "Avenir Next";
  color: #000000;
}
.shows__container__info button {
  background-color: #323232;
  color: #ffffff;
  border-radius: 0.25rem;
  border: 0.0625rem solid #323232;
  font-family: "Avenir Next";
}

@media (min-width: 320px) and (max-width: 767px) {
  .album__title {
    padding: 24px 16px;
  }
  .album__title__paragraph {
    padding: 24px 16px;
    font-size: 14px;
    font-family: "Avenir Next";
  }
  .album__subtitle {
    padding: 24px 16px;
    width: 70%;
  }
  .album__subtitle__paragraph {
    font-size: 24px;
  }
  iframe {
    width: 90%;
  }
  .shows__heading {
    padding: 24px 16px 0px 16px;
  }
  .shows__heading__title {
    font-size: 24px;
  }
  .shows__container__info {
    padding: 24px 16px 16px 16px;
    border-bottom: 0.0625rem solid #e1e1e1;
  }
  .shows__container__info__head {
    font-size: 13px;
    line-height: 18px;
  }
  .shows__container__info__date {
    line-height: 18px;
    font-size: 13px;
  }
  .shows__container__info__place {
    line-height: 18px;
    font-size: 13px;
  }
  .shows__container__info__town {
    line-height: 18px;
    padding-bottom: 1rem;
    font-size: 13px;
    width: 9.375rem;
  }
  button {
    line-height: 18px;
    font-size: 14px;
    width: 100%;
    height: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1279px) {
  .nav__container {
    padding: 48px 36px 36px 36px;
  }
  .nav__pack {
    flex-direction: row;
    align-items: center;
  }
  .nav__pack__list__item {
    color: #ffffff;
    font-size: 1rem;
    font-family: "Avenir Next";
  }
  .album {
    height: 100vh;
  }
  .album__title {
    padding: 48px 36px;
  }
  .album__title__paragraph {
    font-size: 24px;
    font-family: "Avenir Next Bold";
  }
  .album__subtitle {
    padding: 0px 36px;
    font-size: 36px;
  }
  iframe {
    margin: 48px 36px;
  }
  .shows__heading {
    padding: 48px 36px;
  }
  .shows__heading__title {
    font-size: 60px;
    color: #000000;
  }
  .shows__container__info {
    border-bottom: 1px solid #afafaf;
    padding: 0 0 1 rem 36px;
  }
  .shows__container__info__head {
    font-size: 1rem;
    line-height: 22px;
  }
  .shows__container__info__date {
    font-size: 1rem;
    line-height: 22px;
  }
  .shows__container__info__place {
    font-size: 1rem;
    line-height: 22px;
  }
  .shows__container__info__town {
    font-size: 1rem;
    line-height: 22px;
  }
  button {
    line-height: 22px;
    font-size: 1.125rem;
    width: 25%;
    height: 3.125rem;
  }
}
@media (min-width: 1280px) and (max-width: 1920px) {
  .nav__container {
    padding: 48px 36px 36px 90px;
  }
  .album {
    height: 100vh;
  }
  .album__title {
    padding: 48px 36px;
  }
  .album__title__paragraph {
    font-size: 28px;
    font-family: "Avenir Next Bold";
  }
  .album__subtitle {
    padding: 0px 36px;
    width: 33%;
  }
  .album__subtitle__paragraph {
    font-size: 64px;
  }
  .shows__container__info {
    border-bottom: 0.0625rem solid #afafaf;
  }
  button {
    line-height: 18px;
    font-size: 14px;
    width: 100%;
    height: 2.5rem;
  }
  .button {
    width: 12.5rem;
  }
}/*# sourceMappingURL=shows.css.map */