@import "fonts";
@import "colors";
@import "sizes";
@import "nav";

.container {
  max-width: 67rem;
  margin: 0 auto;
  position: relative;
  width: 100%;
  // overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;

  // overflow-x: hidden;
}

a {
  color: $mercury;
  text-decoration: none;
}

@mixin logo-style {
  height: 1.25rem;
  width: 7.5rem;
}

@mixin footer-basic-style {
  background-color: $bandsite-black;
  margin-top: $headline-padding-after-desktop;
  opacity: 1;
}

@mixin footer-heading-style {
  display: flex;
  flex-direction: row;
  font-family: $primary-bold;
  color: $white;
}

@mixin footer-images-style {
  display: flex;
  flex-direction: row;
}

@mixin footer-rights-style {
  color: $white;
  font-family: $primary-normal;
}

.footer {
  @include footer-basic-style;
  &__heading {
    @include footer-heading-style;
  }
  &__images {
    @include footer-images-style;

    &__box {
      display: flex;

      &__icons {
        display: flex;
      }
    }
  }
  &__container {
    display: flex;
    flex-direction: column;

    &__division {
      display: flex;
      flex-direction: column;

      &__info {
        display: flex;
        flex-direction: column;

        &__agent {
          display: flex;
          font-family: $primary-bold;
          color: $white;
        }
      }

      &__contact {
        display: flex;
        flex-direction: column;
        padding-top: 0.9375rem;
        width: 70%;

        &__address {
          font-family: $primary-normal;
          padding-top: 0.9375rem;
          color: $white;
        }
      }
    }
  }
  &__icon {
    display: flex;

    &__logo {
      @include logo-style;
    }
  }

  .footer__rights {
    @include footer-rights-style;
  }
}
@media (max-width: $mobile-screen-min-size) {
  .footer__container {
    flex-direction: column;
  }
  .footer__heading {
    font-size: 1.5rem;
    line-height: $section-line-height-mobile;
    padding: $headline-padding-before-mobile $headline-padding-after-mobile
      $headline-padding-before-mobile $headline-padding-after-mobile;
  }
  .footer__images {
    justify-content: flex-start;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: 1.2rem;
    height: 1.875rem;
  }
  .footer__container {
    flex-direction: column;
    padding-left: $headline-padding-after-mobile;
  }
  .footer__container__division__info {
    padding-top: $headline-padding-before-mobile;
  }
  .footer__icon {
    padding: $headline-padding-before-desktop 0 $headline-padding-after-mobile
      $headline-padding-before-mobile;
    width: 100%;
  }
  .footer__rights {
    margin-left: 0;
    padding-left: $headline-padding-before-mobile;
    padding-bottom: $headline-padding-before-mobile;
  }
}

@media (min-width: 321px) and (max-width: $mobile-screen-max-size) {
  .footer__heading {
    font-size: $page-header-text-size-mobile;
    line-height: $section-line-height-mobile;
    padding: $headline-padding-before-mobile $headline-padding-after-mobile
      $headline-padding-before-mobile $headline-padding-before-mobile;
  }
  .footer__images {
    justify-content: flex-start;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: 1.2rem;
    height: 1.875rem;
  }
  .footer__container {
    flex-direction: column;
    padding-left: $headline-padding-after-mobile;
  }
  .footer__container__division__info {
    padding-top: $headline-padding-before-mobile;
  }
  .footer__icon {
    padding: $headline-padding-before-desktop 0 $headline-padding-after-mobile
      $headline-padding-before-mobile;
    width: 100%;
  }
  .footer__rights {
    margin-left: 0;
    padding-left: $headline-padding-before-mobile;
    padding-bottom: $headline-padding-before-mobile;
  }
}

@media (min-width: 768px) and (max-width: $tablet-screen-max-size) {
  .footer__heading {
    padding: $headline-padding-before-desktop 7.5rem 1.875rem
      $headline-padding-after-desktop;
    font-size: $section-header-text-size-desktop;
  }
  .footer__images {
    justify-content: center;
    position: relative;
    width: 100%;
    top: -4.5rem;
    left: -1.5625rem;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: $headline-padding-after-desktop;
    height: 1.875rem;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }
  .footer__container__division__info {
    font-size: $footer-text-size-desktop;
  }
  .footer__container__division__info__agent {
    font-size: $footer-text-size-desktop;
    line-height: $footer-line-height-desktop;
  }
  .footer__container__division__contact__address {
    font-size: $footer-text-size-desktop;
    line-height: $footer-line-height-desktop;
  }
  .footer__rights {
    padding: 25px $headline-padding-after-desktop
      $headline-padding-after-desktop 0px;
    font-size: $footer-text-size-desktop;
    line-height: $footer-line-height-desktop;
  }
  .footer__icon {
    flex-direction: row-reverse;
    position: relative;
    top: -241px;
    right: 100px;
  }
}

@media (min-width: 1280px) and (max-width: $desktop-screen-max-size) {
  .footer__heading {
    font-size: $section-header-text-size-desktop;
    padding: $headline-padding-before-desktop;
  }
  .footer__images {
    justify-content: center;
    position: relative;
    top: -5.25rem;
    right: 13.75rem;
  }
  .footer__images__box__icons {
    width: 1.875rem;
    padding-left: $headline-padding-after-desktop;
    height: 1.875rem;
  }
  .footer__container {
    margin-right: $headline-padding-after-desktop;
    display: flex;
    flex-direction: row;
    padding-left: $headline-padding-before-desktop;
    width: 60%;
  }
  .footer__rights {
    padding: 1.5625rem $headline-padding-after-desktop
      $headline-padding-after-desktop $headline-padding-before-desktop;
  }
  .footer__icon {
    flex-direction: row-reverse;
    position: relative;
    top: -16.6875rem;
    right: 9.375rem;
  }
}
