@import "fonts";
@import "colors";
@import "sizes";

body {
  overflow-x: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

@mixin footer-basic-style {
  background-color: $bandsite-black;
  margin-top: 36px;
}

@mixin footer-heading-style {
  padding: 48px 120px;
  display: flex;
  flex-direction: row;
  font-family: $primary-bold;
  color: $white;
  opacity: 1;
}

@mixin footer-images-style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -80px;
}

@mixin footer-rights-style {
  font-size: $footer-text-size-desktop;
  line-height: $footer-line-height-desktop;
  color: $white;
  font-family: $primary-normal;
  padding: 48px 36px 36px 120px;
}

.footer {
  @include footer-basic-style;
  &__heading {
    @include footer-heading-style;
    @media (min-width: $tablet-screen-min-size) {
      font-size: $section-header-text-size-desktop;
      line-height: $section-line-height-desktop;
    }
    @media (max-width: $mobile-screen-max-size) {
      font-size: $section-header-text-size-mobile;
      line-height: $section-line-height-mobile;
    }
  }
  &__images {
    @include footer-images-style;

    &__icons {
      width: 30px;
      display: flex;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    margin-left: 120px;

    &__division {
      display: flex;
      flex-direction: column;
      margin-right: 36px;

      &__info {
        display: flex;
        flex-direction: column;
        padding-top: 36px;

        &__agent {
          display: flex;
          font-family: $primary-bold;
          font-size: $footer-text-size-desktop;
          line-height: $footer-line-height-desktop;
          color: $white;
        }
      }

      &__contact {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        width: 50%;

        &__address {
          font-family: $primary-normal;
          font-size: $footer-text-size-desktop;
          line-height: $footer-line-height-desktop;
          color: $white;
          padding-top: 15px;
        }
      }
    }
  }
  &__icon {
    display: flex;
    flex-direction: row-reverse;
    top: -50px;
    &__logo {
      height: 20px;
      width: 120px;
    }
  }

  .footer__rights {
    @include footer-rights-style;
  }
}
