@import "fonts";
@import "colors";
@import "sizes";

body {
  overflow-x: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #323232;
  margin-top: 36px;
  &__heading {
    padding: 48px 120px;
    display: flex;
    flex-direction: row;
    font-family: $primary-bold;
    color: $white;
    opacity: 1;
    @media (min-width: $tablet-screen-min-size) {
      font-size: $section-header-text-size-desktop;
      line-height: $section-line-height-desktop;
    }
    @media (max-width: $mobile-screen-max-size) {
      font-size: $section-header-text-size-mobile;
      line-height: $section-line-height-mobile;
    }
  }
  &__images {
    display: flex;
    flex-direction: row;

    &__icons {
      width: 30px;
      display: flex;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    margin-left: 120px;

    &__division {
      display: flex;
      flex-direction: column;
      margin-right: 36px;

      &__info {
        display: flex;
        flex-direction: column;
        padding-top: 36px;

        &__agent {
          display: flex;

          font-family: $primary-bold;
          font-size: $footer-text-size-desktop;
          line-height: $footer-line-height-desktop;
          color: $white;
        }
      }

      &__contact {
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        width: 50%;

        &__address {
          font-family: $primary-normal;
          font-size: $footer-text-size-desktop;
          line-height: $footer-line-height-desktop;
          color: $white;
          padding-top: 15px;
        }
      }
    }
  }
}

.footer__rights {
  font-size: $footer-text-size-desktop;
  line-height: $footer-line-height-desktop;
  color: #ffffff;
}
.footer__logo {
  height: 20px;
  width: 120px;
}
