//Screen Sizes
$desktop-screen-max-size: 1920px;
$desktop-screen-min-size: 1280px;
$tablet-screen-max-size: 1279px;
$tablet-screen-min-size: 768px;
$mobile-screen-max-size: 767px;
$mobile-screen-min-size: 320px;

//Variables Desktop
$page-header-text-size-desktop: 60px;
$page-line-height-desktop: 68px;
$page-text-weight-desktop: 700;
$section-header-text-size-desktop: 36px;
$section-line-height-desktop: 44px;
$section-text-weight-desktop: 700;
$subheader-text-size-desktop: 24px;
$subheader-line-height-desktop: 32px;
$subheader-text-weight-desktop: 600;
$body-text-size-desktop: 14px;
$body-line-height-desktop: 22px;
$body-text-weight-desktop: 400;
$footer-text-size-desktop: 14px;
$footer-line-height-desktop: 20px;
$footer-text-weight-desktop: 400;
$label-buton-text-size-desktop: 12px;
$label-buton-line-height-desktop: 20px;
$label-buton-text-weight-desktop: 700;

// Padding - Desktop
$headline-padding-before-desktop: 48px;
$headline-padding-after-desktop: 36px;
$headline-padding-between-components-desktop: 36px;

//Variables Mobile
$page-text-weight-mobile: 700;
$page-line-height-mobile: 32px;
$page-header-text-size-mobile: 24px;
$section-header-text-size-mobile: 24px;
$section-line-height-mobile: 32px;
$section-text-weight-mobile: 700;
$subheader-text-size-mobile: 14px;
$subheader-line-height-mobile: 22px;
$subheader-text-weight-mobile: 600;
$body-text-size-mobile: 13px;
$body-line-height-mobile: 18px;
$body-text-weight-mobile: 400;
$label-buton-text-size-mobile: 10px;
$label-buton-line-height-mobile: 20px;
$label-buton-text-weight-mobile: 700;

// Padding - Mobile
$headline-padding-before-mobile: 24px;
$headline-padding-after-mobile: 16px;
$headline-padding-between-components-mobile: 16px;
